#animal {
    height: 100px;
    width: 100px;
    background-image: url('../assets/camel.png');
}

#zodiac {
    height: 100px;
    width: 100px;
    background-image: url('../assets/aquarius.png');
}

#catchphrase-section {
    display: flex;
    flex-direction: row;
}
